{% extends 'base.html' %}
{% block content %}
<div class="content-header text-center">
    <div class="container-fluid">
        <h1 class="m-0 text-dark">Daily Temperature Forecast</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        {% for chart, status in chart_status_pairs %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-header text-center font-weight-bold">
                    {{ status }}
                </div>
                <div class="card-body">
                    {{ chart|safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}